.ipynb_checkpoints/seugnjun-checkpoint.ipynb
.ipynb_checkpoints/minseok-checkpoint.ipynb
.ipynb_checkpoints/.ipynb-checkpoint
.ipynb_checkpoints/warranty-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
